.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #393e46;
}

.container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
  letter-spacing: 1.9px;
}

.footer p {
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.9px;
  margin: 0;
  margin-bottom: 50px;
}

.footer p span {
  font-family: 'Inter', sans-serif;
  color: #00adb5;
  font-weight: 520;
}