.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222831;
}

.container-footer {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
  letter-spacing: 1.9px;
}

.nav-footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #00adb5;
  transition: width 0.3s ease;
}

.nav-footer:hover {
    color: #00adb5;
}

.nav-footer:hover::after {
  width: 100%;
}

.footer p {
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.9px;
  margin: 0;
  margin-bottom: 50px;
}

.footer p span {
  font-family: 'Inter', sans-serif;
  color: #00adb5;
  font-weight: 520;
}